{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agape</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
</head>



<body>
    <header>
        <!-- navBar -->
        <div id="nav-bar" class="{% block position %}{% endblock %} z-3 w-100">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'app:index' %}">Navbar w/ text</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#bible-anchor">Etude Biblique</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#lifestyle-anchor">LifeStyle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#solidarity-anchor">Solidarity Chain</a>
                            </li>
                        </ul>

                        {% if user.is_authenticated %}
                        <h1>Bienvenue, {{ user.username }} !</h1>
                            {% if user.is_staff or user.is_superuser %}
                            <a href="{% url 'dash:user_page' %}">Mon espace</a><br><br>
                            {% endif %}
                        <a href="{% url 'dash:logout' %}">Deconnexion</a><br><br>
                        {% else %}
                            <button onclick="window.location.href = '{% url 'app:login_view' %}';" type="button"  class="btn btn-primary btn-sm">Sign In / Sign Up</button>
                        {% endif %}


                    </div>
                </div>
            </nav>
        </div>


        {% block content %}{% endblock %}


        <footer>
            <div class="card text-center">
                <div class="card-header">
                    Footer
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-body-secondary">
                    2 days ago
                </div>
            </div>
        </footer>
    
        <script src="{% static 'app/script.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</body>
    
</html>